body {
	background-color: black;
}

h1 {
	color: pink;
	font-family: 'Oswald', sans-serif;
	font-size: 44px;
	text-align: center;
	margin: 20px;
	text-transform: uppercase;
}

h2 {
	color: white;
	font-family: 'PT Serif', serif;
	text-align: center;
}

.form-wrapper {
	width: 400px;
	margin: 0 auto;
	margin-top: 30px;

}

.entry {
	color: white;
	text-align: center;
	padding-right: 20px;
	float: left;
}

select {
	width: 200px;
	height: 26px;
	text-align: center;
	border: none;
	background-color: white;
    margin: 0 auto;
    float: left;
}

button {
	height: 26px;
	background-color: white;
	border: none;
	text-align: center;
	margin: 0 auto;
	margin-left: 20px;
	float: left;

}

.clearfix:after {
   content: ".";
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
