.wrapper {
	width: 1080px;
	margin: 0 auto;
}

.header {
	width: 1080px;
	height: 50px;
	margin: 10px;
}

.section1 {
	width: 300px;
	height: 500px;
	padding-top: 100px;
	border-right: 1px lightgray solid;
	margin: 10px 10px 10px 50px;
	float: left;
}

h2 {
	color: gray;
}

#current-temp-input {

}

#dropdown {

}

#submit {

}

.section2 {
	width: 500px;
	height: 500px;
	padding-top: 100px;
	margin: 10px 10px 10px 50px;
	float: left;
}

h3 {

}

#current-temp-text {

}

#current-unit-text {

}

h1 {

}

h4 {

}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}