body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

nav {
	background-color: black;
	font-size: 0;
}

a { 
color: #ccc;
display: inline-block;
padding: 20px;
text-decoration: none;
background-color: blue;
font-size: 24px;

}

a:hover {  
color: #fff;
background-color: #ff7401
}