.wrapper {
	width: 1000px;
}

.logo {
	width: 200px;
	height: 100px;
	margin: 10px;
	background-color: lightgray;
	float: left;
}

a {
	width: 100px;
	height: 50px;
	margin-top: 25px;
	margin-left: 5px;
	background-color: lightgray;
	text-decoration: none;
	float: right;
}

.box {
	background-color: lightgray;
}

.box1 {
	width: 150px;
	height: 500px;
	margin: 10px;
	float: left;
}

.box2 {
	width: 800px;
	height: 100px;
	margin: 10px;
	float: right;
}

.box3 {
	width: 600px;
	height: 200px;
	margin: 10px;
	float: right;
}

.box4 {
	width: 160px;
	height: 200px;
	margin: 10px;
	float: right;
}

.box5 {
	width: 180px;
	height: 150px;
	margin: 10px;
	float: right;
}

.box6 {
	width: 180px;
	height: 150px;
	margin: 10px;
	float: right;	
}

.box7 {
	width: 180px;
	height: 150px;
	margin: 10px;
	float: right;	
}

.box8 {
	width: 180px;
	height: 150px;
	margin: 10px;
	float: right;	
}

footer {
	width: 1000px;
	height: 150px;
	margin: 10px;
	background-color: lightgray;
}





.clearfix:after {
   content: ".";
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}